@media (max-width: 1199px) {
  .wrapper {
    background-position: left;
  }
}
@media (max-width: 991px) {
  .nav {
    margin: 0 50px;
  }
  .logo {
    font-style: normal;
    font-weight: 600;
    font-size: 27px;

    line-height: 115%;

    margin-left: 30px;
    color: #373737;
  }
  .menu-item {
    margin-left: 2rem;
  }
  .item-about {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .nav {
    margin: 0 40px;
  }
  .logo {
    font-style: normal;
    font-weight: 600;
    font-size: 27px;

    line-height: 115%;

    margin-left: 30px;
    color: #373737;
  }
  .menu-item {
    margin-left: 1.5rem;
  }
  .item-about {
    font-size: 14px;
  }
}
@media (max-width: 715px) {
  .nav {
    margin: 0 15px;
  }
  .logo {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;

    line-height: 115%;

    margin-left: 30px;
    color: #373737;
  }
  .item-about {
    font-size: 12px;
  }
  .menu-item {
    margin-left: 1rem;
  }
}

@media (max-width: 575px) {
}
