@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@0;1&family=Nunito+Sans:ital@0;1&family=Playfair+Display:wght@400;500;600&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@0;1&family=Nunito+Sans:ital@0;1&family=Playfair+Display:wght@400;500;600&family=Tinos:ital@0;1&family=Yeseva+One&display=swap');


a {
    text-decoration: none;
    color: inherit;
  }


body {
    font-family: 'Tinos', serif;
    font-size: 16px;
    font-style: normal;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.wrapper {
    background-image: url(../images/img2.3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

}


.continer {
    max-width: 1256px;
    padding: 0 15px;
    margin: 0 auto;
   
 
}
.header {
    box-shadow: 3px 12px 20px 6px rgba(16, 33, 46, 0.13);
}
.header__menu {
    
    padding: 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 77px;
}
.logo-name {
    position: relative;
    font-family: Playfair Display;
    font-size: 2rem;
    line-height: 251%;
  
    margin-left: 60px;
    color: #373737;
}
/* .icon {
  max-width: 59px;
  max-height: 59px;
  position: absolute;
display: none;
 

} */
.img1 {
    max-width: 350px;
    max-height: 528px;
}
.contact {
   
}
.contact__list {
    display: flex;
    justify-content: space-between;



}
.icon-item {
 margin-left: 67px;
cursor: pointer;

}
.github__activ {
    margin-right: 30px;
}